LLM_MODEL= # Model Name should follow the Ollama model name. (Default: gemma3:latest)
OLLAMA_BASE_URL= # Your device IP:Port # http://host.docker.internal:11434 # http://localhost:11434
BRAVE_API_KEY= # Your API key